@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

html, body, p, li, ul, h1{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #FF4757;
}

a:hover{
  text-decoration: none;
  color: #2F3542;
}

.main-container{
  width: 100%;
  height: 100vh;
  background-color: #2F3542;
}

.nav-bar{
  width: 100%;
  height: 7vh;
  background-color: #A4B0BE;
  float: left;
}

.logo{
  width: 55px;
  height: 55px;
  border-radius: 50px;
  background-image: url("../src/Assets/Logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 20px;
  margin-top: 0px;
  float: left;
}

.logo:hover{
  width: 55px;
  height: 55px;
  border-radius: 50px;
  background-image: url("../src/Assets/Logo\ Hover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 20px;
  margin-top: 0px;
  float: left;
}

.homeli{
  list-style-type: none;
  font-size: 22px;
  margin-left: 80px;
  margin-top: 15px;
  font-family: Inter;
  float: left;
}

.patientli{
  list-style-type: none;
  font-size: 22px;
  margin-left: 280px;
  margin-top: 15px;
  font-family: Inter;
  float: left;
}

.doctorli{
  list-style-type: none;
  font-size: 22px;
  margin-left: 280px;
  margin-top: 15px;
  font-family: Inter;
  float: left;
}

.signinli{
  list-style-type: none;
  font-size: 22px;
  margin-left: 280px;
  margin-top: 15px;
  font-family: Inter;
  float: left;
}

/* Sign In Page */
.sign-container{
  width: 1203px;
  height: 100vh;
  margin-left: 115px;
  border-radius: 15px;
  background-color: #74B9FF;
  float: left;
}

.left{
  width: 602px;
  height: 100%;
  border-radius: 15px 0px 0px 15px;
  background-color: transparent;
  float: left;
}

.sign-logo{
  width: 50.45px;
  height: 47.09px;
  margin-top: 96px;
  margin-left: 133px;
  background-image: url("../src/Assets/Logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: left;
}

.sign-logo:hover{
  width: 50.45px;
  height: 47.09px;
  margin-top: 96px;
  margin-left: 133px;
  background-image: url("../src/Assets/Logo\ Hover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: left;
}

.cerebro-sano{
  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  margin-top: 110px;
  margin-left: 5.55px;
  float: left;
}

.right{
  width: 602px;
  height: 100vh;
  margin-left: 601px;
  margin-top: -100vh;
  border-radius: 0px 15px 15px 0px;
  background-image: url("../src/Assets/right.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: left;
}

.login-text{
  margin-top: 197px;
  margin-left: -140px;
  font-family: Inter;
  font-weight: 400;
  font-size: 33px;
  float: left;
}

.welcome-login-text{
  margin-top: 250px;
  margin-left: -140px;
  font-family: Inter;
  font-weight: 300;
  float: left;
}

.email-text{
  margin-top: 30px;
  margin-left: 151px;
  font-family: Inter;
  font-weight: 300;
  float: left;
}

.password-text{
  margin-top: 25px;
  margin-left: 151px;
  font-family: Inter;
  font-weight: 300;
  float: left;
}

.email-input{
  width: 301px;
  height: 35px;
  border: 1px solid grey;
  background-color: #f7f7f7;
  border-radius: 9px;
  padding-left: 4%;
  margin-top: 60px;
  margin-left: -40px;
  float: left;
}

.password-input{
  width: 301px;
  height: 35px;
  /* outline-style: none; */
  border: 1px solid grey;
  background-color: #f7f7f7;
  border-radius: 9px;
  padding-left: 4%;
  margin-top: 55px;
  margin-left: -70px;
  float: left;
}

.check-box{
  width: 12px;
  height: 12px;
  margin-left: 162px;
  margin-top: 22px;
  background-color: white;
  float: left;
}

label{
  font-size: 12px;
  font-family: Inter;
  letter-spacing: -0.042em;
  font-weight: 400;
  margin-left: 7px;
  margin-top: 20px;
  float: left;
}

.forgot-password-text{
  margin-top: 19px;
  margin-left: 65px;
  font-size: 13px;
  font-family: Inter;
  font-weight: 400;
  color: blue;
  float: left;
}

.btn-container{
  width: 301px;
  height: 39px;
  margin-left: 165px;
  margin-top: 20px;
  border-radius: 9px;
  background-color: #0984e3;
  float: left;
}

.signIn-btn{
  font-size: 15px;
  font-family: Inter;
  font-weight: 300;
  margin-left: 130px;
  margin-top: 11px;
  color: white;
  float: left; 
}

.no-account-text{
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  margin-top: 15px;
  margin-left: 210px;
  float: left;
}

.signin-text{
  font-size: 14px;
  font-family: Inter;
  font-weight: 300;
  margin-top: 15px;
  margin-left: 5px;
  color: blue;
  float: left;
}

.SignIn-Google-btn{
  width: 301px;
  height: 39px;
  border: 1px solid grey;
  margin-left: 165px;
  margin-top: 14px;
  background-image: url("../src/Assets/Google.png");
  background-repeat: no-repeat;
  background-position: 75px;
  background-size: 22px 22px;
  border-radius: 9px;
  background-color: white;
  float: left;
}

.Sign-Google-text{
  font-family: Inter;
  font-weight: 400px;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.006em;
  margin-left: 27px;
  margin-top: 12px;
}

/* Register */
.sign-container{
  width: 1203px;
  height: 100vh;
  margin-left: 115px;
  border-radius: 15px;
  background-color: #74B9FF;
  float: left;
}

.left-reg{
  width: 602px;
  height: 100%;
  border-radius: 15px 0px 0px 15px;
  background-image: url("../src/Assets/left.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: left;
}

.right-reg{
  width: 602px;
  height: 100%;
  margin-left: 601px;
  margin-top: -100vh;
  border-radius: 0px 15px 15px 0px;
  background-color: #74B9FF;;
  float: left;
}

.sign-logo-reg{
  width: 50.45px;
  height: 47.09px;
  margin-top: 24px;
  margin-left: 133px;
  background-image: url("../src/Assets/Logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: left;
}

.sign-logo-reg:hover{
  width: 50.45px;
  height: 47.09px;
  margin-top: 24px;
  margin-left: 133px;
  background-image: url("../src/Assets/Logo\ Hover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: left;
}

.cerebro-sano-reg{
  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  margin-top: 36px;
  margin-left: 5.55px;
  float: left;
}

.create-account-text{
  margin-top: 20px;
  margin-left: 151px;
  font-family: Inter;
  font-weight: 400;
  font-size: 33px;
  float: left;
}

.already-member-text{
  margin-top: 13px;
  margin-left: 151px;
  font-family: Inter;
  font-weight: 300;
  float: left;
}

.signin-text-reg{
  margin-top: 13px;
  margin-left: 5px;
  font-family: Inter;
  font-weight: 300;
  color: blue;
  float: left;
}

.first-name-text{
  margin-top: 70px;
  margin-left: -200px;
  font-family: Inter;
  font-weight: 300;
  float: left;
}

.first-name-input{
  width: 139px;
  height: 35px;
  border: 1px solid grey;
  background-color: #f7f7f7;
  border-radius: 9px;
  padding-left: 11px;
  margin-top: 95px;
  margin-left: -200px;
  float: left;
}

.last-name-text{
  margin-top: 70px;
  margin-left: -32px;
  font-family: Inter;
  font-weight: 300;
  float: left;
}

.last-name-input{
  width: 139px;
  height: 35px;
  border: 1px solid grey;
  background-color: #f7f7f7;
  border-radius: 9px;
  padding-left: 11px;
  margin-top: 95px;
  margin-left: -82px;
  float: left;
}

.age-text{
  margin-top: 150px;
  margin-left: -318px;
  font-family: Inter;
  font-weight: 300;
  float: left;
}

.age-input{
  width: 139px;
  height: 35px;
  border: 1px solid grey;
  background-color: #f7f7f7;
  border-radius: 9px;
  padding-left: 11px;
  margin-top: 176px;
  margin-left: -318px;
  float: left; 
}


.gender-text{
  margin-top: 150px;
  margin-left: -153px;
  font-family: Inter;
  font-weight: 300;
  float: left;
}

.gender-input{
  width: 139px;
  height: 35px;
  border: 1px solid grey;
  background-color: #f7f7f7;
  border-radius: 9px;
  padding-left: 11px;
  margin-top: 176px;
  margin-left: -153px;
  float: left; 
}

.phone-number-text{
  margin-top: 229px;
  margin-left: -319px;
  font-family: Inter;
  font-weight: 300;
  float: left;
}

.phone-number-input{
  width: 315px;
  height: 35px;
  border: 1px solid grey;
  background-color: #f7f7f7;
  border-radius: 9px;
  padding-left: 11px;
  margin-top: 40px;
  margin-left: 153px;
  float: left;
}

.rank-text{
  margin-top: 93px;
  margin-left: -328px;
  font-family: Inter;
  font-weight: 300;
  float: left;
}

.rank-input{
  width: 315px;
  height: 35px;
  border: 1px solid grey;
  background-color: #f7f7f7;
  border-radius: 9px;
  padding-left: 11px;
  margin-top: 40px;
  margin-left: 153px;
  float: left;
}

.email-text-reg{
  margin-top: 93px;
  margin-left: -328px;
  font-family: Inter;
  font-weight: 300;
  float: left;
}

.email-input-reg{
  width: 315px;
  height: 35px;
  border: 1px solid grey;
  background-color: #f7f7f7;
  border-radius: 9px;
  padding-left: 11px;
  margin-top: 40px;
  margin-left: 153px;
  float: left;
}

.password-text-reg{
  margin-top: 93px;
  margin-left: -328px;
  font-family: Inter;
  font-weight: 300;
  float: left;
}

.password-input-reg{
  width: 315px;
  height: 35px;
  border: 1px solid grey;
  background-color: #f7f7f7;
  border-radius: 9px;
  padding-left: 11px;
  margin-top: 40px;
  margin-left: 153px;
  float: left;
}

.register-btn{
  font-size: 15px;
  font-family: Inter;
  font-weight: 300;
  margin-left: 95px;
  margin-top: 11px;
  color: white;
  float: left; 
}

.continue-Google-btn{
  width: 301px;
  height: 39px;
  border: 1px solid grey;
  margin-left: 165px;
  margin-top: 14px;
  background-image: url("../src/Assets/Google.png");
  background-repeat: no-repeat;
  background-position: 75px;
  background-size: 22px 22px;
  border-radius: 9px;
  background-color: white;
  float: left;
}

.continue-Google-text{
  font-family: Inter;
  font-weight: 400px;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.006em;
  margin-left: 37px;
  margin-top: 12px;
}
/* Home Page */
.header{
  width: 1440px;
  height: 400px;
  background-image: url("../src/Assets/Header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.calendar-container{
  width: 1440px;
  height: 518px;
  background-color: #636E72;
}

/* left side */
.time-container{
  width: 395px;
  height: 410px;
  float: left;
}

.date-time-box{
  width: 205px;
  height: 30px;
  background-color: #717171;
  margin-left: 95px;
  margin-top: 46px;
  float: left;
}

.top-chevron-one{
  width: 31px;
  height: 27px;
  background-color: #717171;
  margin-top: 35px;
  margin-left: 141px;
  float: left;
}

.top-chevron-two{
  width: 31px;
  height: 27px;
  background-color: #717171;
  margin-top: 35px;
  margin-left: 52px;
  float: left;
}

.time-appoint{
  width: 164px;
  height: 52px;
  background-color: #717171;
  margin-left: 116px;
  margin-top: 20px;
  float: left;
}

.bottom-chevron-one{
  width: 31px;
  height: 27px;
  background-color: #717171;
  margin-top: 24px;
  margin-left: 141px;
  float: left;
}

.bottom-chevron-two{
  width: 31px;
  height: 27px;
  background-color: #717171;
  margin-top: 24px;
  margin-left: 52px;
  float: left;
}

.book-btn{
  width: 110px;
  height: 35px;
  background-color: #717171;
  margin-left: 62px;
  margin-top: 36px;
  float: left;
}

.cal-time-container{
  width: 787px;
  height: 408px;
  margin-left: 321px;
  background-color: #353840;
  float: left;
}

/* Right Side */
.month-left-chevron{
  width: 28px;
  height: 27px;
  margin-top: 44px;
  margin-left: 36px;
  background-color: #717171;
  float: left;
}

.date-year-box{
  width: 128px;
  height: 30px; 
  background-color: #717171;
  margin-top: 42px;
  margin-left: 71px;
  float: left;
}

.month-right-chevron{
  width: 28px;
  height: 27px;
  margin-top: 44px;
  margin-left: 71px;
  background-color: #717171;
  float: left;
}

.week-box{
  width: 326px;
  height: 27px;
  background-color: #717171;
  margin-left: 36px;
  margin-top: 26px;
  float: left;
}

.calendar-box{
  width: 326px;
  height: 199px; 
  margin-top: 13px;
  margin-left: 36px;
  background-color: #717171;
  float: left; 
}

/* Appointment bookings */
.appointment-container{
  width: 1440px;
  height: 276px;
  overflow-x: auto;
  background-color: #717171;
}

.appoint-card-container{
  width: 191px;
  height: 250px;
  margin-left: 20px;
  background-color: transparent;
}

.appoint-card-container-two{
  width: 191px;
  height: 250px;
  margin-left: 300px;
  margin-top: -260px;
  background-color: transparent;
  float: left;
}

.appoint-card-container-three{
  width: 191px;
  height: 250px;
  margin-top: -260px;
  margin-left: 600px;
  background-color: transparent;
  float: left;
}

.appoint-card-container-four{
  width: 191px;
  height: 250px;
  margin-top: -260px;
  margin-left: 900px;
  background-color: transparent;
  float: left;
}

.appoint-card-container-five{
  width: 191px;
  height: 250px;
  margin-top: -260px;
  margin-left: 1200px;
  background-color: transparent;
  float: left;
}

.appoint-card-container-six{
  width: 191px;
  height: 250px;
  margin-top: -260px;
  margin-left: 1500px;
  background-color: transparent;
  float: left;
}

.profile-img{
  width: 191px;
  height: 191px;
  border-radius: 360px;
  margin-top: -250px;
  background-image: url("../src/Assets/image\ 1.jpg");
  background-repeat: no-repeat;
  background-position: -85px;
  background-size: cover;
  float: left;
}

.profile-img-two{
  width: 191px;
  height: 191px;
  margin-top: -250px;
  border-radius: 360px;
  background-image: url("../src/Assets/image\ 1.jpg");
  background-repeat: no-repeat;
  background-position: -85px;
  background-size: cover;
  float: left;
}

.text-info-box-two{
  width: 191px;
  height: 161px;
  margin-top: 100px;
  border-radius: 0px 0px 14px 14px;
  background-color: white;
  float: left;
}

.text-info-box{
  width: 191px;
  height: 161px;
  margin-top: 100px;
  border-radius: 0px 0px 14px 14px;
  background-color: white;
  float: left;
}

.time{
  font-family: Inter;
  font-weight: 300;
  font-size: 15px;
  margin-left: 39.5px;
  margin-top: 102px;
  color: black;
  float: left;
  
}

.date{
  font-family: Inter;
  font-weight: 300;
  font-size: 15px;
  margin-left: 18px;
  margin-top: 102px;
  color: black;
  float: left;
}

.doctor{
  font-family: Inter;
  font-weight: 300;
  font-size: 15px;
  margin-left: 9px;
  margin-top: 11px;
  color: black;
  float: left;
}

.room{
  font-family: Inter;
  font-weight: 300;
  font-size: 15px;
  margin-left: 55px;
  margin-top: 11px;
  color: black;
  float: left;
}

/* Patients Page */
.patients-detail-container{
  width: 1440px;
  height: 98px;
  background-color: #636E72;
  float: left;
}

.patients-detail-container-two{
  width: 1440px;
  height: 98px;
  margin-top: 44px;
  background-color: #636E72;
  float: left;
}

.patients-detail-container-three{
  width: 1440px;
  height: 98px;
  margin-top: 44px;
  background-color: #636E72;
  float: left;
}

.patients-detail-container-four{
  width: 1440px;
  height: 98px;
  margin-top: 44px;
  background-color: #636E72;
  float: left;
}

.patients-detail-container-five{
  width: 1440px;
  height: 98px;
  margin-top: 44px;
  background-color: #636E72;
  float: left;
}

.patient-profile-img{
  width: 99px;
  height: 99px;
  margin-left: 28px;
  border-radius: 360px;
  background-color: #353840;
  float: left;
}

.patient-name-box{
  width: 228px;
  height: 39px;
  margin-left: 24px;
  margin-top: 29px;
  background-color: #353840;
  float: left;
}

.patient-surname-box{
  width: 228px;
  height: 39px;
  margin-left: 80px;
  margin-top: 29px;
  background-color: #353840;
  float: left;
}

.patient-email-box{
  width: 228px;
  height: 39px;
  margin-left: 80px;
  margin-top: 29px;
  background-color: #353840;
  float: left;
}

.patient-phoneNum-box{
  width: 228px;
  height: 39px;
  margin-left: 80px;
  margin-top: 29px;
  background-color: #353840;
  float: left;
}

.delete-patient-btn{
  width: 34px;
  height: 34px;
  border-radius: 360px;
  margin-top: 31px;
  margin-left: 53px;
  background-color: #353840;
  float: left;
}


/* Doctor Page */
.doctors-detail-container{
  width: 1440px;
  height: 98px;
  background-color: #636E72;
  float: left;
}

.doctors-detail-container-two{
  width: 1440px;
  height: 98px;
  margin-top: 44px;
  background-color: #636E72;
  float: left;
}

.doctors-detail-container-three{
  width: 1440px;
  height: 98px;
  margin-top: 44px;
  background-color: #636E72;
  float: left;
}

.doctors-detail-container-four{
  width: 1440px;
  height: 98px;
  margin-top: 44px;
  background-color: #636E72;
  float: left;
}

.doctors-detail-container-five{
  width: 1440px;
  height: 98px;
  margin-top: 44px;
  background-color: #636E72;
  float: left;
}

.doctor-profile-img{
  width: 99px;
  height: 99px;
  margin-left: 28px;
  border-radius: 360px;
  background-color: #353840;
  float: left;
}

.doctor-name-box{
  width: 228px;
  height: 39px;
  margin-left: 24px;
  margin-top: 29px;
  background-color: #353840;
  float: left;
}

.doctor-surname-box{
  width: 228px;
  height: 39px;
  margin-left: 80px;
  margin-top: 29px;
  background-color: #353840;
  float: left;
}

.doctor-email-box{
  width: 228px;
  height: 39px;
  margin-left: 80px;
  margin-top: 29px;
  background-color: #353840;
  float: left;
}

.doctor-phoneNum-box{
  width: 228px;
  height: 39px;
  margin-left: 80px;
  margin-top: 29px;
  background-color: #353840;
  float: left;
}

.delete-doctor-btn{
  width: 34px;
  height: 34px;
  border-radius: 360px;
  margin-top: 31px;
  margin-left: 53px;
  background-color: #353840;
  float: left;
}
/* New Patients */
.vert-nav-bar{
  width: 219px;
  height: 100vh;
  margin-left: 120px;
  background: #A4B0BE;
  border-radius: 38px 0px 0px 38px;
  float: left;
}

.patients-logo-box{
  width: 72px;
  height: 67px;
  margin-top: 40px;
  margin-left: 73px;
  background-image: url('../src/Assets/Logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: left;
}

.patients-logo-box:hover{
  width: 72px;
  height: 67px;
  margin-top: 40px;
  margin-left: 73px;
  background-image: url('../src/Assets/Logo\ Hover.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: left;
}

.patients-cerebrosano{
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  margin-top: 11px;
  margin-left: 59px;
  float: left;
}

.patients-detail-container{
  width: 706px;
  height: 745px;
  /* background: rgba(217, 217, 217, 0.2); */
  background-color: transparent;
  margin-top: 20px;
  margin-left: 28px;
  float: left;
}

.patients-text{
  font-family: Inter;
  font-weight: 400;
  font-size: 25px;
  margin-left: 7px;
  color: white;
  float: left;
}

.patients-header{
  width: 706px;
  height: 25px;
  margin-top: 123px;
  border-radius: 8px;
  background: #A4B0BE;
  float: left;
}

.name-label{
  font-family: Inter;
  font-weight: 400;
  font-size: 11px;
  margin-left: 117px;
  margin-top: 6px;
  float: left;
}

.surname-label{
  font-family: Inter;
  font-weight: 400;
  font-size: 11px;
  margin-left: 115px;
  margin-top: 6px;
  float: left;
}

.email-label{
  font-family: Inter;
  font-weight: 400;
  font-size: 11px;
  margin-left: 117px;
  margin-top: 6px;
  float: left;
}

.phone-number-label{
  font-family: Inter;
  font-weight: 400;
  font-size: 11px;
  margin-left: 101px;
  margin-top: 6px;
  float: left;
}

/* Patients details */
.patients-container-overflow{
  width: 730px;
  height: 530px;
  overflow-x: auto;
  margin-top: 21px;
  /* background: rgba(67, 113, 243, 0.3); */
  background: transparent;
  float: left;
}

.patients-detail-container-one{
  width: 706px;
  height: 60px;
  background: #8595A8;
  border-radius: 8px;
  float: left;
}

.patients-profile-one{
  width: 50px;
  height: 50px;
  margin-left: 14px;
  margin-top: 5px;
  border: 1px solid #000000;
  border-radius: 360px;
  float: left;
}

.patients-name-one{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 11.51px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-surname-one{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40.2px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-email-one{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40.2px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-phone-number-one{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40.2px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-remove-btn-one{
  width: 17px;
  height: 17px;
  margin-top: 22px;
  margin-left: 23px;
  background-image: url("../src/Assets/X\ Icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 360px;
  float: left;
}

.patients-remove-btn-one:hover{
  width: 17px;
  height: 17px;
  margin-top: 22px;
  margin-left: 23px;
  background-image: url("../src/Assets/X\ Icon\ Hovered.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 360px;
  float: left;
}

/* Patient Two */
.patients-detail-container-two{
  width: 706px;
  height: 60px;
  margin-top: 18px;
  background: #8595A8;
  border-radius: 8px;
  float: left;
}

.patients-profile-two{
  width: 50px;
  height: 50px;
  margin-left: 14px;
  margin-top: 5px;
  border: 1px solid #000000;
  border-radius: 360px;
  float: left;
}

.patients-name-two{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 11.51px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-surname-two{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40.2px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-email-two{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40.2px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-phone-number-two{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40.2px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-remove-btn-two{
  width: 17px;
  height: 17px;
  margin-top: 22px;
  margin-left: 23px;
  background-image: url("../src/Assets/X\ Icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 360px;
  float: left;
}

.patients-remove-btn-two:hover{
  width: 17px;
  height: 17px;
  margin-top: 22px;
  margin-left: 23px;
  background-image: url("../src/Assets/X\ Icon\ Hovered.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 360px;
  float: left;
}

/*  Patient Three*/
.patients-detail-container-three{
  width: 706px;
  height: 60px;
  margin-top: 18px;
  background: #8595A8;
  border-radius: 8px;
  float: left;
}

.patients-profile-three{
  width: 50px;
  height: 50px;
  margin-left: 14px;
  margin-top: 5px;
  border: 1px solid #000000;
  border-radius: 360px;
  float: left;
}

.patients-name-three{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 11.51px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-surname-three{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40.2px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-email-three{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40.2px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-phone-number-three{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40.2px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-remove-btn-three{
  width: 17px;
  height: 17px;
  margin-top: 22px;
  margin-left: 23px;
  background-image: url("../src/Assets/X\ Icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 360px;
  float: left;
}

.patients-remove-btn-three:hover{
  width: 17px;
  height: 17px;
  margin-top: 22px;
  margin-left: 23px;
  background-image: url("../src/Assets/X\ Icon\ Hovered.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 360px;
  float: left;
}

/* Patients Four */
.patients-detail-container-four{
  width: 706px;
  height: 60px;
  margin-top: 18px;
  background: #8595A8;
  border-radius: 8px;
  float: left;
}

.patients-profile-four{
  width: 50px;
  height: 50px;
  margin-left: 14px;
  margin-top: 5px;
  border: 1px solid #000000;
  border-radius: 360px;
  float: left;
}

.patients-name-four{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 11.51px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-surname-four{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40.2px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-email-four{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40.2px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-phone-number-four{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40.2px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-remove-btn-four{
  width: 17px;
  height: 17px;
  margin-top: 22px;
  margin-left: 23px;
  background-image: url("../src/Assets/X\ Icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 360px;
  float: left;
}

.patients-remove-btn-four:hover{
  width: 17px;
  height: 17px;
  margin-top: 22px;
  margin-left: 23px;
  background-image: url("../src/Assets/X\ Icon\ Hovered.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 360px;
  float: left;
}

/* Patient Five */
.patients-detail-container-five{
  width: 706px;
  height: 60px;
  margin-top: 18px;
  background: #8595A8;
  border-radius: 8px;
  float: left;
}

.patients-profile-five{
  width: 50px;
  height: 50px;
  margin-left: 14px;
  margin-top: 5px;
  border: 1px solid #000000;
  border-radius: 360px;
  float: left;
}

.patients-name-five{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 11.51px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-surname-five{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40.2px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-email-five{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40.2px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-phone-number-five{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40.2px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-remove-btn-five{
  width: 17px;
  height: 17px;
  margin-top: 22px;
  margin-left: 23px;
  background-image: url("../src/Assets/X\ Icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 360px;
  float: left;
}

.patients-remove-btn-five:hover{
  width: 17px;
  height: 17px;
  margin-top: 22px;
  margin-left: 23px;
  background-image: url("../src/Assets/X\ Icon\ Hovered.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 360px;
  float: left;
}

/* Patient Six */
.patients-detail-container-six{
  width: 706px;
  height: 60px;
  margin-top: 18px;
  background: #8595A8;
  border-radius: 8px;
  float: left;
}

.patients-profile-six{
  width: 50px;
  height: 50px;
  margin-left: 14px;
  margin-top: 5px;
  border: 1px solid #000000;
  border-radius: 360px;
  float: left;
}

.patients-name-six{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 11.51px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-surname-six{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40.2px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-email-six{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40.2px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-phone-number-six{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40.2px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-remove-btn-six{
  width: 17px;
  height: 17px;
  margin-top: 22px;
  margin-left: 23px;
  background-image: url("../src/Assets/X\ Icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 360px;
  float: left;
}

.patients-remove-btn-six:hover{
  width: 17px;
  height: 17px;
  margin-top: 22px;
  margin-left: 23px;
  background-image: url("../src/Assets/X\ Icon\ Hovered.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 360px;
  float: left;
}

/* Patient Seven */
.patients-detail-container-seven{
  width: 706px;
  height: 60px;
  margin-top: 18px;
  background: #8595A8;
  border-radius: 8px;
  float: left;
}

.patients-profile-seven{
  width: 50px;
  height: 50px;
  margin-left: 14px;
  margin-top: 5px;
  border: 1px solid #000000;
  border-radius: 360px;
  float: left;
}

.patients-name-seven{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 11.51px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-surname-seven{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40.2px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-email-seven{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40.2px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-phone-number-seven{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40.2px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-remove-btn-seven{
  width: 17px;
  height: 17px;
  margin-top: 22px;
  margin-left: 23px;
  background-image: url("../src/Assets/X\ Icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 360px;
  float: left;
}

.patients-remove-btn-seven:hover{
  width: 17px;
  height: 17px;
  margin-top: 22px;
  margin-left: 23px;
  background-image: url("../src/Assets/X\ Icon\ Hovered.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 360px;
  float: left;
}


/* Patient Eight */
.patients-detail-container-eight{
  width: 706px;
  height: 60px;
  margin-top: 18px;
  background: #8595A8;
  border-radius: 8px;
  float: left;
}

.patients-profile-eight{
  width: 50px;
  height: 50px;
  margin-left: 14px;
  margin-top: 5px;
  border: 1px solid #000000;
  border-radius: 360px;
  float: left;
}

.patients-name-eight{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 11.51px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-surname-eight{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40.2px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-email-eight{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40.2px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-phone-number-eight{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40.2px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-remove-btn-eight{
  width: 17px;
  height: 17px;
  margin-top: 22px;
  margin-left: 23px;
  background-image: url("../src/Assets/X\ Icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 360px;
  float: left;
}

.patients-remove-btn-eight:hover{
  width: 17px;
  height: 17px;
  margin-top: 22px;
  margin-left: 23px;
  background-image: url("../src/Assets/X\ Icon\ Hovered.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 360px;
  float: left;
}


/* Patient Nine */
.patients-detail-container-nine{
  width: 706px;
  height: 60px;
  margin-top: 18px;
  background: #8595A8;
  border-radius: 8px;
  float: left;
}

.patients-profile-nine{
  width: 50px;
  height: 50px;
  margin-left: 14px;
  margin-top: 5px;
  border: 1px solid #000000;
  border-radius: 360px;
  float: left;
}

.patients-name-nine{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 11.51px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-surname-nine{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40.2px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-email-nine{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40.2px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-phone-number-nine{
  width: 114px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40.2px;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}

.patients-remove-btn-nine{
  width: 17px;
  height: 17px;
  margin-top: 22px;
  margin-left: 23px;
  background-image: url("../src/Assets/X\ Icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 360px;
  float: left;
}

.patients-remove-btn-nine:hover{
  width: 17px;
  height: 17px;
  margin-top: 22px;
  margin-left: 23px;
  background-image: url("../src/Assets/X\ Icon\ Hovered.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 360px;
  float: left;
}


/* Patients Edit Container */
.edit-patients-detail-container{
  width: 224px;
  height: 803px;
  width: 219px;
  height: 100vh;
  margin-left: 28px;
  background: #A4B0BE;
  border-radius: 0px 38px 38px 0px;
  float: left;
}

.edit-patients-profile{
  width: 151px;
  height: 151px;
  margin-top: 73px;
  margin-left: 37px;
  border-radius: 360px;
  background: #FFFFFF;
  float: left;
}

.edit-patients-name{
  width: 91px;
  height: 26px;
  margin-top: 55.58px;
  margin-left: 16px;
  background: #FFFFFF;
  border-radius: 9px;
  float: left;
}

.edit-patients-surname{
  width: 91px;
  height: 26px;
  margin-top: 55.58px;
  margin-left: 9.26px;
  background: #FFFFFF;
  border-radius: 9px;
  float: left;
}

.edit-patients-age{
  width: 91px;
  height: 26px;
  margin-top: 38.41px;
  margin-left: 16px;
  background: #FFFFFF;
  border-radius: 9px;
  float: left;
}

.edit-patients-gender{
  width: 91px;
  height: 26px;
  margin-top: 38.41px;
  margin-left: 9.26px;
  background: #FFFFFF;
  border-radius: 9px;
  float: left;
}

.edit-patients-email{
  width: 191px;
  height: 26px;
  margin-top: 38.41px;
  margin-left: 17px;
  background: #FFFFFF;
  border-radius: 9px;
  float: left;
}

.edit-patients-phone-number{
  width: 191px;
  height: 26px;
  margin-top: 38.41px;
  margin-left: 17px;
  background: #FFFFFF;
  border-radius: 9px;
  float: left;
}

.edit-patients-id{
  width: 191px;
  height: 26px;
  margin-top: 38.41px;
  margin-left: 17px;
  background: #FFFFFF;
  border-radius: 9px;
  float: left;
}

.edit-patients-medical-aid-number{
  width: 191px;
  height: 26px;
  margin-top: 38.41px;
  margin-left: 17px;
  background: #FFFFFF;
  border-radius: 9px;
  float: left;
}

.update-btn{
  width: 133px;
  height: 27px;
  margin-top: 54px;
  margin-left: 46px;
  background: #FFFFFF;
  border-radius: 9px;
  float: left;
}