@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

html, body, p, li, ul, h1{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #FF4757;
}

a:hover{
  text-decoration: none;
  color: #2F3542;
}

.main-container{
  width: 100%;
  height: 100vh;
  background-color: #2F3542;
}

.nav-bar{
  width: 100%;
  height: 7vh;
  background-color: #A4B0BE;
  float: left;
}

.logo{
  width: 55px;
  height: 55px;
  border-radius: 50px;
  background-image: url("../src/Assets/Logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 20px;
  margin-top: 0px;
  float: left;
}

.logo:hover{
  width: 55px;
  height: 55px;
  border-radius: 50px;
  background-image: url("../src/Assets/Hover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 20px;
  margin-top: 0px;
  float: left;
}

.homeli{
  list-style-type: none;
  font-size: 22px;
  margin-left: 80px;
  margin-top: 15px;
  font-family: avenir;
  float: left;
}

.patientli{
  list-style-type: none;
  font-size: 22px;
  margin-left: 280px;
  margin-top: 15px;
  font-family: avenir;
  float: left;
}

.doctorli{
  list-style-type: none;
  font-size: 22px;
  margin-left: 280px;
  margin-top: 15px;
  font-family: avenir;
  float: left;
}

.signinli{
  list-style-type: none;
  font-size: 22px;
  margin-left: 280px;
  margin-top: 15px;
  font-family: avenir;
  float: left;
}

.sign-container{
  width: 1203px;
  height: 100vh;
  margin-left: 115px;
  border-radius: 15px;
  background-color: #74B9FF;
  float: left;
}

.left{
  width: 602px;
  height: 601px;
  border-radius: 15px 0px 0px 15px;
  background-color: #74B9FF;
  float: left;
}

.sign-logo{
  width: 50.45px;
  height: 47.09px;
  margin-top: 96px;
  margin-left: 133px;
  background-image: url("../src/Assets/Logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: left;
}

.sign-logo:hover{
  width: 50.45px;
  height: 47.09px;
  margin-top: 96px;
  margin-left: 133px;
  background-image: url("../src/Assets/Hover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: left;
}

.cerebro-sano{
  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  margin-top: 110px;
  margin-left: 5.55px;
  float: left;
}

.right{
  width: 602px;
  height: 100vh;
  margin-left: 601px;
  margin-top: -601px;
  border-radius: 0px 15px 15px 0px;
  background-color:  #636E72;
  float: left;
}

.login-text{
  margin-top: 197px;
  margin-left: -140px;
  font-family: inter;
  font-weight: 400;
  font-size: 33px;
  float: left;
}

.welcome-login-text{
  margin-top: 250px;
  margin-left: -140px;
  font-family: inter;
  font-weight: 300;
  float: left;
}

.email-text{
  margin-top: 30px;
  margin-left: 151px;
  font-family: inter;
  font-weight: 300;
  float: left;
}

.password-text{
  margin-top: 25px;
  margin-left: 151px;
  font-family: inter;
  font-weight: 300;
  float: left;
}

.email-input{
  width: 301px;
  height: 35px;
  border: 1px solid grey;
  background-color: #f7f7f7;
  border-radius: 9px;
  padding-left: 4%;
  margin-top: 60px;
  margin-left: -40px;
  float: left;
}

.password-input{
  width: 301px;
  height: 35px;
  /* outline-style: none; */
  border: 1px solid grey;
  background-color: #f7f7f7;
  border-radius: 9px;
  padding-left: 4%;
  margin-top: 55px;
  margin-left: -70px;
  float: left;
}

.check-box{
  width: 12px;
  height: 12px;
  margin-left: 162px;
  margin-top: 22px;
  background-color: white;
  float: left;
}

label{
  font-size: 12px;
  font-family: inter;
  letter-spacing: -0.042em;
  font-weight: 400;
  margin-left: 7px;
  margin-top: 20px;
  float: left;
}

.forgot-password-text{
  margin-top: 19px;
  margin-left: 65px;
  font-size: 13px;
  font-family: inter;
  font-weight: 400;
  color: blue;
  float: left;
}

.btn-container{
  width: 301px;
  height: 39px;
  margin-left: 165px;
  margin-top: 20px;
  border-radius: 9px;
  background-color: #0984e3;
  float: left;
}

.signIn-btn{
  font-size: 15px;
  font-family: inter;
  font-weight: 300;
  margin-left: 130px;
  margin-top: 11px;
  color: white;
  float: left; 
}

.no-account-text{
  font-size: 14px;
  font-family: inter;
  font-weight: 400;
  margin-top: 15px;
  margin-left: 210px;
  float: left;
}

.signUp-text{
  font-size: 14px;
  font-family: inter;
  font-weight: 300;
  margin-top: 15px;
  margin-left: 6px;
  color: blue;
  float: left;
}

.SignIn-Google-btn{
  width: 301px;
  height: 39px;
  border: 1px solid grey;
  margin-left: 165px;
  margin-top: 14px;
  background-image: url("../src/Assets/Google.png");
  background-repeat: no-repeat;
  background-position: 75px;
  background-size: 22px 22px;
  border-radius: 9px;
  background-color: white;
  float: left;
}

.Sign-Google-text{
  font-family: inter;
  font-weight: 400px;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.006em;
  margin-left: 27px;
  margin-top: 12px;
}

/* Register */

.sign-container{
  width: 1203px;
  height: 100vh;
  margin-left: 115px;
  border-radius: 15px;
  background-color: #74B9FF;
  float: left;
}

/* Home Page */
.header{
  width: 1440px;
  height: 400px;
  background-image: url("../src/Assets/Header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.calendar-container{
  width: 1440px;
  height: 518px;
  background-color: #636E72;
}

/* left side */
.time-container{
  width: 395px;
  height: 410px;
  float: left;
}

.date-time-box{
  width: 205px;
  height: 30px;
  background-color: #717171;
  margin-left: 95px;
  margin-top: 46px;
  float: left;
}

.top-chevron-one{
  width: 31px;
  height: 27px;
  background-color: #717171;
  margin-top: 35px;
  margin-left: 141px;
  float: left;
}

.top-chevron-two{
  width: 31px;
  height: 27px;
  background-color: #717171;
  margin-top: 35px;
  margin-left: 52px;
  float: left;
}

.time-appoint{
  width: 164px;
  height: 52px;
  background-color: #717171;
  margin-left: 116px;
  margin-top: 20px;
  float: left;
}

.bottom-chevron-one{
  width: 31px;
  height: 27px;
  background-color: #717171;
  margin-top: 24px;
  margin-left: 141px;
  float: left;
}

.bottom-chevron-two{
  width: 31px;
  height: 27px;
  background-color: #717171;
  margin-top: 24px;
  margin-left: 52px;
  float: left;
}

.book-btn{
  width: 110px;
  height: 35px;
  background-color: #717171;
  margin-left: 62px;
  margin-top: 36px;
  float: left;
}

.cal-time-container{
  width: 787px;
  height: 408px;
  margin-left: 321px;
  background-color: #353840;
  float: left;
}

/* Right Side */
.month-left-chevron{
  width: 28px;
  height: 27px;
  margin-top: 44px;
  margin-left: 36px;
  background-color: #717171;
  float: left;
}

.date-year-box{
  width: 128px;
  height: 30px; 
  background-color: #717171;
  margin-top: 42px;
  margin-left: 71px;
  float: left;
}

.month-right-chevron{
  width: 28px;
  height: 27px;
  margin-top: 44px;
  margin-left: 71px;
  background-color: #717171;
  float: left;
}

.week-box{
  width: 326px;
  height: 27px;
  background-color: #717171;
  margin-left: 36px;
  margin-top: 26px;
  float: left;
}

.calendar-box{
  width: 326px;
  height: 199px; 
  margin-top: 13px;
  margin-left: 36px;
  background-color: #717171;
  float: left; 
}

/* Appointment bookings */
.appointment-container{
  width: 1440px;
  height: 276px;
  overflow-x: auto;
  background-color: #717171;
}

.appoint-card-container{
  width: 191px;
  height: 250px;
  margin-left: 20px;
  background-color: transparent;
}

.appoint-card-container-two{
  width: 191px;
  height: 250px;
  margin-left: 300px;
  margin-top: -260px;
  background-color: transparent;
  float: left;
}

.appoint-card-container-three{
  width: 191px;
  height: 250px;
  margin-top: -260px;
  margin-left: 600px;
  background-color: transparent;
  float: left;
}

.appoint-card-container-four{
  width: 191px;
  height: 250px;
  margin-top: -260px;
  margin-left: 900px;
  background-color: transparent;
  float: left;
}

.appoint-card-container-five{
  width: 191px;
  height: 250px;
  margin-top: -260px;
  margin-left: 1200px;
  background-color: transparent;
  float: left;
}

.appoint-card-container-six{
  width: 191px;
  height: 250px;
  margin-top: -260px;
  margin-left: 1500px;
  background-color: transparent;
  float: left;
}

.profile-img{
  width: 191px;
  height: 191px;
  border-radius: 360px;
  margin-top: -250px;
  background-image: url("../src/Assets/image\ 1.jpg");
  background-repeat: no-repeat;
  background-position: -85px;
  background-size: cover;
  float: left;
}

.profile-img-two{
  width: 191px;
  height: 191px;
  margin-top: -250px;
  border-radius: 360px;
  background-image: url("../src/Assets/image\ 1.jpg");
  background-repeat: no-repeat;
  background-position: -85px;
  background-size: cover;
  float: left;
}

.text-info-box-two{
  width: 191px;
  height: 161px;
  margin-top: 100px;
  border-radius: 0px 0px 14px 14px;
  background-color: white;
  float: left;
}

.text-info-box{
  width: 191px;
  height: 161px;
  margin-top: 100px;
  border-radius: 0px 0px 14px 14px;
  background-color: white;
  float: left;
}

.time{
  font-family: inter;
  font-weight: 300;
  font-size: 15px;
  margin-left: 39.5px;
  margin-top: 102px;
  color: black;
  float: left;
  
}

.date{
  font-family: inter;
  font-weight: 300;
  font-size: 15px;
  margin-left: 18px;
  margin-top: 102px;
  color: black;
  float: left;
}

.doctor{
  font-family: inter;
  font-weight: 300;
  font-size: 15px;
  margin-left: 9px;
  margin-top: 11px;
  color: black;
  float: left;
}

.room{
  font-family: inter;
  font-weight: 300;
  font-size: 15px;
  margin-left: 55px;
  margin-top: 11px;
  color: black;
  float: left;
}

/* Patients Page */
.patients-detail-container{
  width: 1440px;
  height: 98px;
  background-color: #636E72;
  float: left;
}

.patients-detail-container-two{
  width: 1440px;
  height: 98px;
  margin-top: 44px;
  background-color: #636E72;
  float: left;
}

.patients-detail-container-three{
  width: 1440px;
  height: 98px;
  margin-top: 44px;
  background-color: #636E72;
  float: left;
}

.patients-detail-container-four{
  width: 1440px;
  height: 98px;
  margin-top: 44px;
  background-color: #636E72;
  float: left;
}

.patients-detail-container-five{
  width: 1440px;
  height: 98px;
  margin-top: 44px;
  background-color: #636E72;
  float: left;
}

.patient-profile-img{
  width: 99px;
  height: 99px;
  margin-left: 28px;
  border-radius: 360px;
  background-color: #353840;
  float: left;
}

.patient-name-box{
  width: 228px;
  height: 39px;
  margin-left: 24px;
  margin-top: 29px;
  background-color: #353840;
  float: left;
}

.patient-surname-box{
  width: 228px;
  height: 39px;
  margin-left: 80px;
  margin-top: 29px;
  background-color: #353840;
  float: left;
}

.patient-email-box{
  width: 228px;
  height: 39px;
  margin-left: 80px;
  margin-top: 29px;
  background-color: #353840;
  float: left;
}

.patient-phoneNum-box{
  width: 228px;
  height: 39px;
  margin-left: 80px;
  margin-top: 29px;
  background-color: #353840;
  float: left;
}

.delete-patient-btn{
  width: 34px;
  height: 34px;
  border-radius: 360px;
  margin-top: 31px;
  margin-left: 53px;
  background-color: #353840;
  float: left;
}


/* Doctor Page */
.doctors-detail-container{
  width: 1440px;
  height: 98px;
  background-color: #636E72;
  float: left;
}

.doctors-detail-container-two{
  width: 1440px;
  height: 98px;
  margin-top: 44px;
  background-color: #636E72;
  float: left;
}

.doctors-detail-container-three{
  width: 1440px;
  height: 98px;
  margin-top: 44px;
  background-color: #636E72;
  float: left;
}

.doctors-detail-container-four{
  width: 1440px;
  height: 98px;
  margin-top: 44px;
  background-color: #636E72;
  float: left;
}

.doctors-detail-container-five{
  width: 1440px;
  height: 98px;
  margin-top: 44px;
  background-color: #636E72;
  float: left;
}

.doctor-profile-img{
  width: 99px;
  height: 99px;
  margin-left: 28px;
  border-radius: 360px;
  background-color: #353840;
  float: left;
}

.doctor-name-box{
  width: 228px;
  height: 39px;
  margin-left: 24px;
  margin-top: 29px;
  background-color: #353840;
  float: left;
}

.doctor-surname-box{
  width: 228px;
  height: 39px;
  margin-left: 80px;
  margin-top: 29px;
  background-color: #353840;
  float: left;
}

.doctor-email-box{
  width: 228px;
  height: 39px;
  margin-left: 80px;
  margin-top: 29px;
  background-color: #353840;
  float: left;
}

.doctor-phoneNum-box{
  width: 228px;
  height: 39px;
  margin-left: 80px;
  margin-top: 29px;
  background-color: #353840;
  float: left;
}

.delete-doctor-btn{
  width: 34px;
  height: 34px;
  border-radius: 360px;
  margin-top: 31px;
  margin-left: 53px;
  background-color: #353840;
  float: left;
}
